@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="width: 80%">
                Functional requirement
            </th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Add RSS feed (url + name)
            </td>
            <td>
                <i class="bi bi-check"></i>
            </td>
        </tr>

        <tr>
            <td>
                List of all feeds
            </td>
            <td>
                <i class="bi bi-check"></i>
            </td>
        </tr>

        <tr>
            <td>
                Delete feed
            </td>
            <td>
                <i class="bi bi-check"></i>
            </td>
        </tr>

        <tr>
            <td>
                Detail of feed
            </td>
            <td>
                <i class="bi bi-check"></i>
            </td>
        </tr>

        <tr>
            <td>
                List of all articles in the feed
            </td>
            <td>
                <i class="bi bi-check"></i>
            </td>
        </tr>

        <tr>
            <td>
                Filter articles by date (from-to; use date picker of your choice)
            </td>
            <td>
                <i class="bi bi-check"></i>
            </td>
        </tr>

        <tr>
            <td>
                Reload articles in feed
            </td>
            <td>
                <i class="bi bi-check"></i>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="width: 80%">
                Bonus functional requirements
            </th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Add checkbox for deleting feeds.
            </td>
            <td>
                <i class="bi bi-check"></i>
            </td>
        </tr>

        <tr>
            <td>
                Add button for checking all checkboxes.
            </td>
            <td>
                <i class="bi bi-check"></i>
            </td>
        </tr>
    </tbody>
</table>
